<p>menu works!</p>
<div class="row">
    <div class="col-md-4">
        </div>
        <div class="col-md-6">
           
        <button class="btn btn-primary"><a routerLink="/page1">Service 1</a> </button>
        <button class="btn btn-primary"><a routerLink="/page2"> Service 2</a></button>
        <button class="btn btn-primary"><a routerLink="/adds"> Add student</a></button>
        <button class="btn btn-primary"><a routerLink="/views"> view student</a></button>


        
    </div>
</div>
